/*.o
/*.log
/zookd
/zookd-exstack
/zookd-nxstack
/zookd-withssp
/zookfs
/zookfs-exstack
/zookfs-nxstack
/zookfs-withssp
/zookld
/shellcode*.bin
/zooksvc
/run-shellcode
/submit.key
._.
._.gdbinit
._.git
._.gitignore
._.vimrc
._LICENSE
._Makefile
._README.md
._answer1.txt
._answers.txt
._bin.tar.gz
._bugs
._bugs.txt
._check-bin.sh
._check-bugs.py
._check-part2.sh
._check-part3.sh
._check_zoobar.py
._clean-env.sh
._exploit-2c.py
._exploit-2d.py
._exploit-template.py
._favicon.ico
._http.c
._http.h
._index.html
._notes.txt
._run-shellcode
._run-shellcode.c
._shellcode.S
._shellcode.bin
._vm-cs263
._z_client.py
._zoobar
._zook-exstack.conf
._zook-nxstack.conf
._zook-withssp.conf
._zook.conf
._zookd
._zookd-exstack
._zookd-nxstack
._zookd-withssp
._zookd.c
._zookfs
._zookfs-exstack
._zookfs-nxstack
._zookfs-withssp
._zookfs.c
._zookld
._zookld.c
bugs/._1
bugs/._2
bugs/1/._bug1
bugs/1/._bug1.c
bugs/1/._generate_input.py
bugs/1/._large_input.txt
bugs/1/._small_input.txt
bugs/2/._bug2
shellcode_original.S
vm-cs263/
zoobar/._.gitignore
zoobar/._.vimrc
zoobar/.___init__.py
zoobar/._auth.py
zoobar/._bank.py
zoobar/._debug.py
zoobar/._index.cgi
zoobar/._index.py
zoobar/._login.py
zoobar/._media
zoobar/._templates
zoobar/._transfer.py
zoobar/._users.py
zoobar/._zoobarjs.py
zoobar/._zoodb.py
zoobar/media/._lion_awake.jpg
zoobar/media/._lion_sleeping.jpg
zoobar/media/._zoobar.css
zoobar/templates/._.vimrc
zoobar/templates/._index.html
zoobar/templates/._layout.html
zoobar/templates/._login.html
zoobar/templates/._transfer.html
zoobar/templates/._users.html
zoobar/templates/._zoobars.js
.DS_Store
        ._.DS_Store
        ._exploit-3.py
._.DS_Store
._exploit-3.py
._shellcode_original.S
._exploit-2e.py
._exploit-4a.py
bugs/2/._small_input.txt
bugs/2/._bug2.c
